@import "../minixs/_flex_box.styl";
.link-list {
  width: 100%;
  height: auto;
  .header{
    width: 100%;
    background: #f7f7f7;
  }
  .article{
    width: 100%;
    display: flex;
    .nav{
      display: flex;
      padding: 10px;
      min-height: 100px;
      flex: 2;
      border-right: 1px solid #ddd;
    }
    .aside{
      display: flex;
      flex: 8;
      padding: 10px;
    }
  }

}