_example(){
  .example{
    .example-title{
      h5{
        font-size: 16px;
        color: #333;
      }
    }
    .example-main{
      padding: 10px;
      .example-box{
        .title{
          padding: 10px 0;
          color: #666;
          font-size: 14px;
        }
        .describe{
          margin-bottom: 10px;
          text-indent: 2em;
          color: #999;
          font-size: 12px;
          line-height: 1.5;
        }
      }
    }

  }
}